<div class="jumbotron">
  <h1 class="display-4">Welcome</h1>
  <p class="lead">Welcome to the course recommendation System. Here you use this recommender to help you select your next elective course. This system uses machine learning model to suggest you courses based on your previous academic history.</p>
  <hr class="my-4">
  <p>To begin, please sign up if you don't have account or log in.</p>
  <a class="btn btn-primary btn-lg" routerLink="/signup" role="button">Sign up</a>
  <a class="btn btn-light btn-lg" routerLink="/login" role="button">Login</a>
</div>
