<h1>SADS323 - Introduction to Python and Computing</h1>

<div class="row">
  <div class="col">
    <h2>Description</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a odio ac tortor fringilla vulputate dignissim sed ipsum. Donec vitae egestas purus. Nulla facilisis purus dapibus velit sollicitudin, a lacinia ipsum ornare. Mauris facilisis eleifend tortor a aliquet. Phasellus vitae nulla vel tortor feugiat blandit. Fusce odio orci, porttitor ac egestas sit amet, iaculis ac massa. Sed varius efficitur augue, quis malesuada felis bibendum sollicitudin. Curabitur placerat neque vel justo euismod, eget viverra est ultrices. Vestibulum tincidunt justo tellus, mollis luctus tellus condimentum at. Nullam ac diam diam. Donec vel nisl dignissim tellus eleifend auctor.</p>
  </div>
  <div class="col">
    <h2>Topic List</h2>
    <ol>
      <li>Topic Name</li>
      <li>Topic Name</li>
      <li>Topic Name</li>
      <li>Topic Name</li>
      <li>Topic Name</li>
      <li>Topic Name</li>
    </ol>
  </div>
</div>
