<form>
  <div class="center-container">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="1">
      <label class="form-check-label" for="1">
        SAD324 - Introduction to Computing and Python
      </label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="2">
      <label class="form-check-label" for="2">
        SAD324 - Software Engineering and Requirements
      </label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="3">
      <label class="form-check-label" for="3">
        SAD324 - Introduction to Java
      </label>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button type="submit" class="btn btn-primary ">Proceed</button>
    </div>
  </div>
</form>
