<form (ngSubmit)="skadoosh()">
  <div class="form-group">
    <label for="oldPassword">Old Password</label>
    <input type="password" [(ngModel)]="model.oldPassword" name="oldPassword" class="form-control" id="oldPassword" placeholder="Old Password">
  </div>
  <div class="form-group">
    <label for="newPassword">New Password</label>
    <input type="password" [(ngModel)]="model.newPassword" name="newPassword" class="form-control" id="newPassword" placeholder="New Password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
