<form>
  <div class="center-container">
    <div class="input-group">
      <div class="input-group-text" id="btnGroupAddon">Introduction to Python and Computing</div>
      <input type="number" class="form-control" aria-label="Input group example" aria-describedby="btnGroupAddon">
    </div>

    <div class="input-group">
      <div class="input-group-text" id="btnGroupAddon1">Introduction to Python and Computing</div>
      <input type="number" class="form-control" aria-label="Input group example" aria-describedby="btnGroupAddon">
    </div>

    <div class="input-group">
      <div class="input-group-text" id="btnGroupAddon2">Introduction to Python and Computing</div>
      <input type="number" class="form-control" aria-label="Input group example" aria-describedby="btnGroupAddon">
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button type="submit" class="btn btn-primary ">Proceed</button>
    </div>
  </div>
</form>
